<div class="jumbotron">
    <h1>WebShop</h1>
    MVC Application for product Management.
</div>
<h1 style="text-align: center">The Menu</h1>
<div class="row">
    <div class="col-md-6">
        <h3>Products</h3>
        <p>
            This View shows the existent products in the current storage mechanism.<br/>
            To create a new product just click on the "Create New" button.
        </p>
    </div>
    <div class="col-md-6">
        <h3>Admin</h3>
        <p>
            In this view the user can see the current storage mechanism used in the application (Persistent or Memory).<br/>
            The user can change it clicking the "Switch" button.
        </p>
    </div>
</div>
<hr/>
<h1 style="text-align: center">Project distribution</h1>
<div class="row">
    <div class="col-md-4">
        <h3>WebShop</h3>
        <p>Web UI project. Has implementations of both, MVC Controllers (Admin, Home and Product) and API Controllers (Admin/Storage)</p>
    </div>
    <div class="col-md-4">
        <h3>WebShop.Services</h3>
        <p>Contains the services used in the applicaton.</p>
    </div>
    <div class="col-md-4">
        <h3>WebShop.DataAccess</h3>
        <p>Contains the classes for accessing the data.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>WebShop.Models</h3>
        <p>Contains the models used in the application.</p>
    </div>
    <div class="col-md-4">
        <h3>WebShop.Tests</h3>
        <p>
            Contains unit and integration tests for the rest of the projects.
            There are a couple of unit tests implemented and an integration test.
        </p>
    </div>
    <div class="col-md-4">
        <h3>WebShop.Utilities</h3>
        <p>Contains class utilities and extensions methods used in the application.</p>
    </div>
</div>
